Repository trackingplan/trackingplan-react-native: changes, and which lefthook commands are due for each by the changed paths.
All: sync-version, lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    sync-version:
      glob: 'package.json'
      run: node scripts/sync-version.js
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

Remove commit message validation
  lefthook.yml
Due: none

Add expo example
  expo_example/.gitignore
  expo_example/README.md
  expo_example/app.json
  expo_example/app/_layout.tsx
  expo_example/app/index.tsx
  expo_example/assets/fonts/SpaceMono-Regular.ttf
  expo_example/assets/images/adaptive-icon.png
  expo_example/assets/images/favicon.png
  expo_example/assets/images/icon.png
  expo_example/assets/images/partial-react-logo.png
  expo_example/assets/images/react-logo.png
  expo_example/assets/images/react-logo@2x.png
  expo_example/assets/images/react-logo@3x.png
  expo_example/assets/images/splash-icon.png
  expo_example/eslint.config.js
  expo_example/package-lock.json
  expo_example/package.json
  expo_example/tsconfig.json
Due: lint, types

chore: release 0.1.2
  package.json
Due: sync-version

build: exclude expo_example
  example/ios/Podfile.lock
  expo_example/package-lock.json
  tsconfig.build.json
Due: none

ci: ignore plugin/build directory in eslint
  eslint.config.mjs
Due: none

ci: install expo_example dependencies
  .github/actions/setup/action.yml
Due: none

chore: improve build scripts and add cleaning commands
  example/package.json
  package.json
  tsconfig.build.json
  yarn.lock
Due: sync-version

fix: newline issues in expo plugin
  plugin/src/withTrackingplanAndroid.ts
  plugin/src/withTrackingplanIOS.ts
Due: lint, types

chore: release 0.1.3
  package.json
Due: sync-version

chore: upgrade yarn from 3.6.1 to 4.9.2
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: sync-version

feat: add platform-specific configuration support
  README.md
  expo_example/app.json
  expo_example/package-lock.json
  plugin/src/withTrackingplan.ts
  plugin/src/withTrackingplanAndroid.ts
  plugin/src/withTrackingplanIOS.ts
Due: lint, types

chore: release 0.2.0
  package.json
Due: sync-version

Delete CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix: use correct order of init arguments in ios
  plugin/src/withTrackingplanAndroid.ts
  plugin/src/withTrackingplanIOS.ts
Due: lint, types

feat: add updateTags method to dynamically update SDK tags
  README.md
  TrackingplanReactNative.podspec
  android/gradle.properties
  android/src/main/java/com/trackingplanreactnative/TrackingplanReactNativeModule.kt
  ios/TrackingplanBridge.swift
  ios/TrackingplanReactNative.mm
  package.json
  src/NativeTrackingplanReactNative.ts
  src/__tests__/index.test.tsx
  src/index.tsx
  yarn.lock
Due: sync-version, lint, types

feat(example): add navigation and improve demo app structure
  example/README.md
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/screens/AboutScreen.tsx
  example/src/screens/MainScreen.tsx
Due: lint

feat(expo): enhance example app with navigation and Firebase integration
  expo_example/README.md
  expo_example/app.json
  expo_example/app/_layout.tsx
  expo_example/app/about.tsx
  expo_example/app/index.tsx
  expo_example/app/screens/MainScreen.tsx
  expo_example/package-lock.json
  expo_example/package.json
  expo_example/trackingplan-react-native-0.3.0.tgz
Due: lint

Update package.json
  package.json
Due: sync-version

chore: release 0.3.0
  package.json
Due: sync-version

Update ci.yml
  .github/workflows/ci.yml
Due: none

chore(deps): update Trackingplan native SDKs to Android 2.1.0 and iOS 1.6.1
  README.md
  android/gradle.properties
  example/README.md
  example/ios/Podfile.lock
  example/package.json
  expo_example/package-lock.json
  expo_example/trackingplan-react-native-0.3.0.tgz
  package.json
  yarn.lock
Due: sync-version

Update expo_example
  expo_example/package-lock.json
  expo_example/package.json
  expo_example/trackingplan-react-native-0.3.0.tgz
  expo_example/trackingplan-react-native-0.4.0.tgz
Due: none

chore: release 0.4.1
  package.json
Due: sync-version

Update README docs with SDK upgrade instructions and expo example clarifications
  README.md
  expo_example/README.md
Due: none

fix(deps): update rexml to 3.4.4 for security vulnerability
  example/Gemfile
  example/Gemfile.lock
Due: none

Separate Android SDK and plugin versions in build config
  android/build.gradle
  plugin/src/withTrackingplanAndroid.ts
  scripts/sync-version.js
Due: lint, types

chore: bump dependencies and update native SDK versions
  android/gradle.properties
  example/ios/Podfile.lock
  expo_example/package-lock.json
  expo_example/package.json
  expo_example/trackingplan-react-native-0.4.0.tgz
  expo_example/trackingplan-react-native-0.4.2.tgz
  package.json
  yarn.lock
Due: sync-version

chore: release 0.4.2
  package.json
Due: sync-version

chore(expo_example): migrate from npm to pnpm and bump to 0.5.0
  expo_example/README.md
  expo_example/app.json
  expo_example/package-lock.json
  expo_example/package.json
  expo_example/pnpm-lock.yaml
  expo_example/pnpm-workspace.yaml
  expo_example/trackingplan-react-native-0.4.2.tgz
  expo_example/trackingplan-react-native-0.5.0.tgz
Due: none

chore(example): update iOS pods and bump Trackingplan SDK to 2.0.1
  example/Gemfile.lock
  example/ios/Podfile
  example/ios/Podfile.lock
Due: none

chore: upgrade yarn to 4.13.0 and enable hardened mode
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
Due: none

chore: exclude expo_example from TypeScript compilation
  tsconfig.json
Due: none

chore: bump native SDK versions and update dependency resolutions
  package.json
  yarn.lock
Due: sync-version

chore: release 0.5.0
  android/gradle.properties
  package.json
Due: sync-version

fix(ci): update setup action for expo_example pnpm migration
  .github/actions/setup/action.yml
Due: none

chore: bump native SDK versions and update dependency resolutions
  android/gradle.properties
  example/ios/Podfile.lock
  expo_example/package.json
  expo_example/pnpm-lock.yaml
  expo_example/trackingplan-react-native-0.5.0.tgz
  expo_example/trackingplan-react-native-0.6.0.tgz
  package.json
  yarn.lock
Due: sync-version

chore: release 0.6.1
  android/gradle.properties
  example/ios/Podfile.lock
  expo_example/package.json
  expo_example/pnpm-lock.yaml
  expo_example/trackingplan-react-native-0.6.0.tgz
  expo_example/trackingplan-react-native-0.6.1.tgz
  package.json
  turbo.json
  yarn.lock
Due: sync-version

chore: release 0.6.2
  .nvmrc
  .yarnrc.yml
  eslint.config.mjs
  example/Gemfile
  example/Gemfile.lock
  example/ios/Podfile
  example/ios/Podfile.lock
  expo_example/package.json
  expo_example/pnpm-lock.yaml
  expo_example/pnpm-workspace.yaml
  expo_example/trackingplan-react-native-0.6.1.tgz
  expo_example/trackingplan-react-native-0.6.2.tgz
  package.json
  yarn.lock
Due: sync-version

fix(ci): bump Node to v22.23.2 to restore a working corepack
  .nvmrc
Due: none
